:root {
    --effect: hover 1s linear infinite;
  }



  /* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 2s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}

#myDiv_2 {
  display: none;
}

  .plix {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20%;
    font-size: 4em;
    font-family: arial;
    font-weight: 600;
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }
  
  .plix:nth-child(1) {
    animation: var(--effect);
  }
  
  .plix:nth-child(2) {
    animation: var(--effect) .125s;
  }
  
  .plix:nth-child(3) {
    animation: var(--effect) .25s;
  }
  
  .plix:nth-child(4) {
    animation: var(--effect) .375s;
  }
  
  .plix:nth-child(5) {
    animation: var(--effect) .5s;
  }
  
  .plix:nth-child(6) {
    animation: var(--effect) .675s;
  }
  
  .plix:nth-child(7) {
    animation: var(--effect) .75s;
  }
  
  @keyframes hover {
    0% {
      transform: scale(.5);
      color: #121212;
      -webkit-text-stroke: 2px gray;
    }
  
    20% {
      transform: scale(1);
      color: pink;
      -webkit-text-stroke: 3px rgb(50, 197, 241);
      filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 3px rgb(10, 255, 182))drop-shadow(0 0 5px rgb(142, 3, 255))hue-rotate(10turn);
    }
  
    50% {
      transform: scale(.5);
      color: #121212;
      -webkit-text-stroke: 2px gray;
    }
  
  
  }
  